<div class="container mt-5">
  <h1>Books</h1>

  <div class="books-grid">
    <% @books.each do |book| %>
      <div class="book-card">
        <div class="book-cover">
          <img src=<%= book.cover.url %> alt="Cover for <%= book.title %>">
        </div>
        <div class="book-details">
          <h5 class="book-category"><%= book.category %></h5>
          <h4 class="book-title"><%= book.title %></h4>
          <div class="book-text">
            <p class="book-author"><%= book.author_name %></p>
            <p class="book-year"><%= book.published_year %></p>
            <%#= book.price_per_day %>
            <%#= book.description.truncate(100) %>
          </div>
        </div>
        <div class="book-footer">
            <%= link_to 'Discover the book', book_path(book), class: 'btn btn-info' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
