<h1>Books#show</h1>


<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= @book.title %></h1>
  </div>


  <div class="d-flex justify-content-between align-items-center mb-4">
    <img src=<%= @book.cover.url %>>
  </div>
    <hr>
    <%= @book.description %></p>
    <hr>
    <%= @book.published_year %>
    <hr>
    <%= @book.author_name%>
    <hr>
    <%= @book.category%>
    <hr>
    <%= @book.price_per_day%>
    <hr>
    <%= link_to 'Back to catalog', books_path, class: 'btn btn-info' %>

</div>
